<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false">

    <!--spring boot의 기본 logback base.xml은 그대로 가져간다.-->
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <include resource="roadmap-console-appender.xml" />
    <include resource="roadmap-file-appender.xml" />

    <!--    logger name이 roadmapConsole일때 적용할 appender를 등록한다.-->
    <logger name="roadmapConsole" level="INFO" >
        <appender-ref ref="roadmapConsole" />
    </logger>

    <!--    logger name이 roadmapFile일때 적용할 appender를 등록한다.-->
    <logger name="roadmapFile" level="INFO" >
        <appender-ref ref="roadmapFile" />
    </logger>

</configuration>